body {
    background-image: linear-gradient(#0b0610, #123b6a, #0b0610);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
    background-position: 50%;
}

.chat-window {
    border-style: solid;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    display: grid;
    overflow-y: scroll;
    /* flex-direction: row */
}

.chat-input {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.send-button {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: #e7d806;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.send-button:hover {
    background-color: #c5c5c5;
    font-size: 15px;
    transition: ease-in 0.2s
}

.notification {
    background-color: red;
    width: fit-content;
    font-size: larger;
    margin-left: 25px;
    background-color: #e7d806;
    border-radius: 5px;
    /* background-size:; */
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-column-gap: 00px;
    grid-row-gap: 50px;
    margin-bottom: 80px;
}

.prod-container {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    /* height: 250px; */
    /* background-color: transparent; */
    box-shadow: rgba(0, 0, 0, 0.404) 5px 5px 5px;
}

.prod-button {
    background-color: #fcc243;
    width: 150px;
    align-self: center;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 7px;
    font-size: 15px;
    float: inline-start;
    margin-bottom: 10px;
    font-weight: bold;
}

.prod-button:hover {
    /* height: 40px;
    width: 80px; */
    cursor:grab/pointer;
    background-color: grey;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.filter-button {
    border-radius: 6px;
    background-color: #fcc243;
    color: black;
    text-shadow: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
    color: #fcc243;
    margin-top: 50px;
}

.filter-form {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.pager{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.cart-id{
    width: 30px;
}

.page-link{
    background-color: #fcc243;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.selected{
    background-color: grey;
    color:white
}

