<div class="admin-dashboard">

    {{!-- Form to delete product --}}
        <form class="delete-prod" id="delete-form">
            <p>Delete product</p>
            <input type="number" placeholder="Product ID" id="prod-id">
            <button type="button" class="delete-button" id="delete-prod-button">Borrar</button>
        </form>
    
    {{!-- Form to add product --}}
    <form class="addprod-form" id="addprod-form">
        <p class="addprod-text">Add product</p>
        <input placeholder="title" type="text" id="prod-title" required name="title">
        <input placeholder="price" type="number" id="prod-price" required name="price">

        <select placeholder="new" id="isNew" required name="isNew">
            <option value="" disabled selected hidden>Is new</option>
            <option value="true">true</option>
            <option value="false">false</option>
        </select>

        <input placeholder="description" type="text" id="prod-description" required name="description">

        <select placeholder="category" id="prod-category" required name="category">
            <option disabled selected hidden>Category</option>
            <option value="juegos">Juegos</option>
            <option value="coleccionables">Coleccionables</option>
        </select>
        <select placeholder="Offer" id="isOffer" required name="offer">
            <option value="" disabled selected hidden>Is in offer</option>
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
        <select placeholder="Subcategory" id="prod-subcategory" required name="subcategory">
            <option disabled selected hidden>Subcategory</option>
            <option value="pc">PC</option>
            <option value="xbox">Xbox</option>
            <option value="playstation">Playstation</option>
        </select>
        <input placeholder="thumbnails" id="prod-thumbnails" required name="thumbnails">
        <button type="button" id="add-prod-button">Agregar producto</button>
    </form>
</div>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="/js/scripts/adminScripts.js"></script>