<div>
    <a href="/"><button class="changepassword-button">◀ Volver a login</button></a>
    <form class="changepassword-form" id="changePassword-form">
        <p class="changepassword-text">Correo electronico</p>
        <input class="changepassword-input" type="email" id="email" required>
        <p class="changepassword-text">Contraseña actual</p>
        <input class="changepassword-input" type="password" name="actualPassword" id="actualPassword" required>
        <p class="changepassword-text">Nueva contraseña</p>
        <input class="changepassword-input" type="password" name="newPassword" id="newPassword" required>
        <p class="changepassword-text">Repetir nueva contraseña</p>
        <input class="changepassword-input" type="password" name="newPasswordRepeat" id="newPasswordRepeat" required>

        <button class="changepassword-button" id="changepassword-button" type="button">Cambiar contraseña</button>
    </form>
</div>


<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="/js/scripts/changePasswordScript.js"/>
