<div class="login-options">
    <form method="POST" action="/login" class="login-form">
        <input type="email" placeholder="Email..." name="email" class="login-input" required>
        <input type="password" placeholder="Contraseña..." name="password" class="login-input" required>
        <div class="login-button-div">
            <button type="submit" value="Enviar" class="prod-button login-button">Login</button>
        </div>
        {{#if incorrectPassword}}
        <p class="login-failed">Contraseña incorrecta. Por favor reintentá</p>
        {{/if}}
        {{#if noEmail}}
        <p class="login-failed">No existe un usuario con ese email</p>
        {{/if}}
        {{#if alreadyLogged}}
        <p class="login-failed">El usuario ya está logeado</p>
        {{/if}}
    </form>

    <div class="login-github">
        <i class="fa fa-github fa-2x" style="color: #ffffff;"></i>
        <a href="/login/githubcallback" class="github-link">Login with Github</a>
    </div>

    <p class="register-text">¿No sos usuario? Registrate</p>
    <a href="/login/register"><button type="button" class="prod-button login-button" id="register-button">Registrate</button></a>

    <a href="http://localhost:8080/login/changePassword">Olvidé mi contraseña</a>

</div>

{{!-- <script src="/js/scripts/registerScript.js"></script> --}}
{{!--
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatSocket.js"></script> --}}