<div class="login-options">
    <form method="POST" action="/login" class="login-form">
        <input type="email" placeholder="Email..." name="email" class="login-input">
        <input type="text" placeholder="Contraseña..." name="password" class="login-input">
        <div class="login-button-div">
            <button type="submit" value="Enviar" class="prod-button login-button">Login</button>
        </div>
        {{#if loginFailed}}
        <p class="login-failed">Usuario o mail invalidos. Por favor reintentá</p>
        {{/if}}
        {{#if noEmail}}
        <p class="login-failed">Debes registrarte para ingresar</p>
        {{/if}}
        {{#if alreadyLogged}}
        <p class="login-failed">El usuario ya está logeado</p>
        {{/if}}
    </form>

    <p class="register-text">¿No sos usuario? Registrate</p>
    <button type="button" class="prod-button login-button" id="register-button">Register</button>

</div>

<script src="/js/scripts/registerScript.js"></script>
{{!-- <script src="/socket.io/socket.io.js"></script>
<script src="/js/chatSocket.js"></script> --}}