<div>
    <form method="POST" action="/login" class="login-form">
        <input type="text" placeholder="Nombre..." name="name" class="login-input">
        <input type="email" placeholder="Email..."  name="email" class="login-input">
        <button type="submit" value="Enviar" class="prod-button login-button">Iniciar sesión</button>
        {{#if loginFailed}}
            <p class="login-failed">Usuario o mail invalidos. Por favor reintentá</p>
        {{/if}}
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatSocket.js"></script>