<div>
    <form class="registration-form">
        <h2 class="register-title">Formulario de registro</h2>
        <input class="register-input" placeholder="Nombre..." type="text">
        <input class="register-input" placeholder="Email..." type="email">
        <input class="register-input" placeholder="Contraseña..." type="password">
    </form>
</div>